<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SignIn form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>


<nav class="navbar navbar-inverse" style="margin: 0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'accounts:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign
                Up</a></li>
            <li class="active"><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>
                Login</a></li>

        </ul>
    </div>
</nav>


<div class="container">
    <h2>SignIn Form</h2>

    {% if error %}
        <p style="color: red">{{ error }}</p>
        <br/>
        <br/>

    {% endif %}

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="username1" placeholder="Enter email" name="username1">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password1" placeholder="Enter password" name="password1">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>


</body>

</html>
